.jumbotron {
  background-color: #535C5F;
  color: white;

}
body {
	font-family: 'Droid Sans', 'arial';
	background-image: url(flopsbackground2.jpg);
	background-size: cover;
	position: center center;
	background-attachment: fixed;	
}

body {
  
  font-family: "Lobster";
  
}